<div *ngIf="events" style="text-align:left; margin-left:5%">
    <div>
        <label>Vessel Name: </label> {{events.VesselName}}
      </div>
      <div>
        <label>Country Code: </label> {{events.CountryCode}}
      </div>
      <div>
        <label>CFR: </label> {{events.cfr}}
      </div>
      <div>
        <label>Loa: </label> {{events.Loa}}
      </div>
      <div>
          <label>Lbp: </label> {{events.Lbp}}
      </div>
      <div>
          <label>Event Code: </label> {{events.EventCode}}

          <label>Event Start Date: </label> {{events.EventStartDate}}

          <label>Event End Date: </label> {{events.EventEndDate}}
      </div>
      <hr/>

