<div>
  <mat-toolbar color="primary">
      <mat-toolbar-row mat-button [routerLink]="['/search']" routerLinkActive="router-link-active" >
        Welcome to {{title}}
    </mat-toolbar-row>
  </mat-toolbar>
    </div>
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side">
            <mat-list>
              <mat-list-item><p><app-test-es></app-test-es></p></mat-list-item>
              <mat-list-item><app-es-last-update></app-es-last-update></mat-list-item>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <p><button mat-button (click)="sidenav.toggle()">Show server information</button></p>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
